@import url('https://fonts.googleapis.com/css2?family=Joan&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --background: black ;
    --text: #DFD3C3;
    --idk: #515151;
    --dark: #171717;

}

body{
    background-color: var(--background);
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vH;
    color: var(--text);
    font-family: Joan;
    font-style: normal;
    font-weight: 400;
}

header{
    background: var(--background);
    border-bottom: var(--dark) solid;
    width: 100%;
}

.header__nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
    margin-right: 1rem;
}

li{
    list-style-type: none;
}

.header__link{
    text-decoration: none;
    text-align: center;
    color: var(--text);
}

.header__link_u{
    text-align: center;
    color: var(--text);
}

.profile{
    display: flex;
    width: 100%;
}

.profile__img{
    border-radius: 1.0625rem;
}


.profile__meno{
    height: 7.25rem;
    text-align: center;
    padding-left: 0.5rem;
}

.p__text{
    text-align: center;
}

.portfolio__group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    height: 100%;
}

.programy__group{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    
}

.ucenie__group{
    margin: 0;
    padding: 0;
}

.h1__nadpis{
    text-align: center;
}

.ucenie__nadpis{
    color: var(--text);
    text-align: center;
}

.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__nadpis{
    text-align: center;
}

.contact__group{
    display: flex;
    flex-direction: column;
    
}

.contact__label{
    text-align: left;
}

input{
    background-color: var(--idk);
    border: none;
    border-radius: 1.2rem;
    border: 1px solid var(--dark);
    color: var(--text);
}

textarea{
    background-color: var(--idk);
    color: var(--text);
    border: none;
    border-radius: 1.2rem;
    border: 1px solid var(--dark);
    resize: none;
}


.contact__button{
    background-color: var(--idk);
    border: none;
    border-radius: 1.2rem;
    color: var(--text);
    font-size: 1.25rem;
    cursor: pointer;
}

footer{
    border-top: var(--dark) solid;
    padding-top: 1rem;
    margin-top: auto;
    
}

.footer__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
}

.footer__email{
    margin-left: auto;
    color: var(--text);
}

.footer__meno{
    text-align: center;
}

.footer__socials{
    display: flex;
    flex-direction: row;
    align-items: start;
}

.footer_p{
    text-align: center;;
    width: 100%;
}

img{
    width: 5rem;
}

.portfolio__image{
    width: 20rem;
    border-radius: 1rem;
    margin-bottom: 4rem;
    
}

.csshtml{
    width: auto;
    height: 5rem;
}

.blender{
    width: auto;
    height: 5rem;
}

.indesign{
    width: auto;
    height: 5rem;
}

@media only screen and (max-width: 768px) {

    header{
        gap: 1.25rem;
    }


    .profile__img{
        margin: 0;
        width: 14.0625rem;
        height: 14.0625rem;
    }

    .profile{
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .profile__container_meno{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .profile__meno{
        margin: 0;
        height: auto;
    }

    .p__text{
        padding: 4rem 2.5rem 8rem 2.5rem;
    }

    .h1__nadpis{
        font-size: 2.5rem;
        justify-content: center;
        margin-top: 2rem;
    }

    .ucenie__nadpis{
        font-size: 2.5rem;
    }

    .portfolio__group{
        gap: 2rem;
        padding: 0;
        margin: 2rem 0 2rem 0;
    }

    .portfolio__image{
        width: 10rem;
        height: 10rem
    }

    .programy__group{
        font-size: 1.5rem;
        margin: 0 1rem 0 1rem;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 2.25rem;
    }

    .ucenie__group{
        font-size: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;
        margin: 1rem 0rem 4rem 0rem;
    }

    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

    .contact__nadpis{
        text-align: center;
        font-size: 2.5rem;
        margin: 2rem 0 1rem 0;
    }

    .contact__label{
        text-align: left;
        padding: 0.6rem 0 0.6rem 0;
}
    }

    input{
        width: 20.875rem;
        height: 2.6875rem;
    }

    textarea{
        width: 20.875rem;
        height: 10.625rem;
        margin: 0 0 1rem 0;
    }

    .contact__button{
        width: 14rem;
        height: 2.125rem;
        margin: 1rem 0 4rem 0;
    }

    footer{
        width: 100%;
    }

    .footer__container{
        margin: 0 0 1rem 0;
    }

    .footer__meno{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 0 0 0 1rem;
        font-size: 1rem;
    }

    .footer__socials{
        gap: 1rem;
        margin: 0 0 0 1rem;
    }

    .footer__icon{
        width: 1.375rem;
        height: 1.375rem;
    }

    .footer__email{
       margin-left: auto;
        font-size: 1rem;
        margin-right: 1rem
    }

@media only screen and (min-width: 769px) {

    header{
        gap: 1.25rem;
        margin-bottom: 0rem;
        
    }

    .header__nav{
        margin-right: 2rem;
    }

    .header__link{
        font-size: 1.5rem;
    }

    .header__link_u{
        font-size: 1.5rem;
    }

    .profile__img{
        width: 24.5rem;
        height: 24.5rem;
        margin: 0;
    }

    .profile{
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .main__container__d{
        display: flex;
        align-items: center;
    }

    .profile__meno{
        margin: -1rem 0 -1rem 0;
        font-size: 4rem;
    }

    .profile__container_meno{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .p__text{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0rem 6rem 0rem 6rem;
        font-size: 2rem;
    }

    .h1__nadpis{
        font-size: 4rem;
        margin:10rem 0 4rem 0;
    }

    .ucenie__nadpis{
        font-size: 4rem;
        margin: 10rem 0 4rem 0;
    }

    .portfolio__group{
        gap: 4rem;
        padding: 0;
        margin: 6rem 0 6rem 0;
    }

    .portfolio__image{
        width: 28rem;
        height: 28rem;
    }


    .programy__group{
        font-size: 2rem;
        margin: 0 2rem 0 2rem;
        justify-content: space-around;
        flex-direction: row;
        gap: 5rem;
    }

    .ucenie__group{
        font-size: 2rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        gap: 2rem;
    }

    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

    .contact__nadpis{
        text-align: center;
        font-size: 4rem;
        padding: 0;
        margin: 2rem 0 1rem 0 ;
    }

    .contact__label{
        font-size: 1.5rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    input{
        width: 20.875rem;
        height: 2.6875rem;
    }

    textarea{
        width: 20.875rem;
        height: 14rem;
        margin: 0 0 1rem 0;

    }

    .contact__button{
        width: 14rem;
        height: 2.125rem;
        margin: 2rem 0 4rem 0;
    }

    .contact__form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    footer{
        width: 100%;
    }

    .footer__container{
        margin: 0 0 1rem 0;
    }

    .footer__meno{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        margin: 0 0 0 1rem;
        font-size: 1.5rem;
    }

    .footer__email{
        font-size: 1.2rem;
        margin-right: 1rem;
     }

    .footer_p{
        font-size: 1.5rem;

    }
}
