@import url('https://fonts.googleapis.com/css2?family=Joan&family=Outfit:wght@100..900&family=Young+Serif&display=swap');

:root {
    --background: #272727 ;
    --text: #DFD3C3;
    --idk: #515151;
    --dark: #171717;


}

body{
    background-color: var(--background);
    margin: 0;
    text-align: center;
}

header{

}

.header_ol{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
    padding: 0 1rem 0 0;
}

li{
    list-style-type: none;
    color: #DFD3C3;
}

.header_li{
    color: #DFD3C3;
    text-decoration: none;
}

.header_li_u{
    color: #DFD3C3;
}


main{

}

.div__ja{
    display: flex;
}

.img__ja{
    margin: 2.56rem 1rem 0rem 0rem;
    width: 14.0625rem;
    height: 14.0625rem;
    flex-shrink: 0;
}


.h1__meno{
    color: #DFD3C3;
    height: 7.25rem;
    text-align: center;
    font-family: Joan;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.p__omne{
    color: #DFD3C3;
}

.h1__programy{
    color: #DFD3C3;
}

.h1_prave_sa_ucim{
    color: #DFD3C3;
}

footer{

}

.footer_h3_meno{
    color: #DFD3C3;
}

.footer_p{
    color: #DFD3C3;
}

.footer_img_mail{
    width: 3rem;
}


img{
    width: 5rem;
}

.csshtml{
    width: 7rem;
    margin: -2rem 0 -2rem -0.7rem;
}


@media only screen and (max-width: 768px) {
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    header{
        display: flex;
        height: 4.0625rem;
        justify-content: flex-end;
        align-items: center;
        gap: 1.25rem;
        padding-left: 12rem;
        background: var(--background);
    }

    main{

    }

    .h1__meno{
        margin: 6rem 1rem 6rem 0rem;
    }
}    



